[submodule "micropython"]
	path = deps/micropython/upstream
	url = https://github.com/micropython/micropython.git
[submodule "ports/esp32/board_common"]
	path = ports/esp32/board_common
	url = https://github.com/sandman21vs/esp-board-common.git
[submodule "deps/seedsigner-lvgl-screens"]
	path = deps/seedsigner-lvgl-screens
	url = https://github.com/kdmukAI-bot/seedsigner-lvgl-screens.git
[submodule "deps/cUR"]
	path = deps/cUR
	url = https://github.com/kdmukAI-bot/cUR.git
[submodule "deps/esp-secp256k1"]
	path = deps/esp-secp256k1
	url = https://github.com/kdmukAI-bot/esp-secp256k1.git
[submodule "deps/seedsigner"]
	path = deps/seedsigner
	url = https://github.com/sandman21vs/seedsigner.git
	branch = feat/nfc-card-storage
[submodule "deps/embit"]
	path = deps/embit
	url = https://github.com/kdmukAI-bot/embit.git
	branch = perf/psbt-parse-speedups-v0.8.0
